#navbarContent {
	padding-left: 50px;
	padding-right: 50px;
}

.activeTab {
	background-color: #00897b ;
}

.spacer {
	height: 30px;
}

.bottomCushionStrong {
	padding-bottom: 120px;
}

.bottomCushion {
	padding-bottom: 30px;
}